PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_de_postgres
DB_NAME=tasks_test_db

JWT_SECRET=secreto_solo_para_pruebas_de_al_menos_32_caracteres
JWT_EXPIRES_IN=1h

# Valor bajo para que las pruebas no sean lentas (minimo 4 en test)
BCRYPT_SALT_ROUNDS=4
